@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="Ts_header">
    <div class="Ts_dark_overlay">
        <div class="jumbotron">
            <h1>MCLittle</h1>
            <p class="lead">MCLittle is de voor de twaalfde keer op rij, als beste uitgeroepen op het gebied van Fruit en Groente!</p>
            </br>
                <label class="Ts_btn4">@Html.ActionLink("Producten", "Index", "Products")</label>
                <label class="Ts_btn4">@Html.ActionLink("Categorieen", "Index", "Categories")</label>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="my-4">Weekelijkse aanbiedingen</h1>
    <!-- Marketing Icons Section -->
    <div class="row aanbiedingen">
        <div class="empty_space"></div>
        <h2 style="text-align:center;">Alle aanbiedingen zijn verlopen, we verwachten binnenkort nieuwe aanbiedingen.</h2>
        <div class="empty_space"></div>
        @*<div class="col-lg-4 col-sm-6 Ts_aanbiedingen_card">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Product titel</a>
                    </h4>
                    <h6 class="card-title"><span class="Ts_old_price">$10</span><span class="Ts_new_price">$5</span></h6>
                    <p class="card-text">Product Short discription</p>
                </div>
                <a class="Ts_add_to_cart_btn" href="#">IN WINKELWAGEN</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 Ts_aanbiedingen_card">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Product titel</a>
                    </h4>
                    <h6 class="card-title"><span class="Ts_old_price">$10</span><span class="Ts_new_price">$5</span></h6>
                    <p class="card-text">Product Short discription</p>
                </div>
                <a class="Ts_add_to_cart_btn" href="#">IN WINKELWAGEN</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 Ts_aanbiedingen_card">
            <div class="card h-100 ">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Product titel</a>
                    </h4>
                    <h6 class="card-title"><span class="Ts_old_price">$10</span><span class="Ts_new_price">$5</span></h6>
                    <p class="card-text">Product Short discription</p>
                </div>
                <a class="Ts_add_to_cart_btn" href="#">IN WINKELWAGEN</a>
            </div>*@
    </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row gray">
        <div class="col-lg-6">
            <h2>MCLittle</h2>
            <p>De Beste in groente, in heel nederland!</p>
            <strong>Waarom MCLittle</strong>
            <ul>
                <li>Altijd verse groentes en fruit</li>
                <li>Gericht op klant vriendelijkheid</li>
                <li>Wij werken voor qualiteit</li>
                <li>Altijd de laagste prijs mogelijk</li>
            </ul>
            <p>
            Als internationaal opererende onderneming zijn wij ons bewust van onze omvang en van onze bekendheid bij het brede publiek. 
            Wij respecteren de diversiteit van culturen en erkennen de verscheidenheid van hun waarden en tradities. 
            Ons werk wordt gekenmerkt door onze grondbeginselen en gedragsprincipes.
            </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="~/Content/Images/intro_cream_of_crop.jpg" alt="">
        </div>
    </div>
    <div id="productsContainer"></div>
    <!-- /.row -->
    <!-- Portfolio Section -->
    @*<div class="Ts_portfolio_item">
            <h2>Portfolio Heading</h2>
            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="Ts_product_main" style="background-image: url('../../Content/Images/cadeaumand-wereldreis-met-bier-verschillende-bieren-cadeautjes-nl_6161-70c99e91.jpg');">
                        <div class="Ts_overlay">
                            <div class="Ts_price_main">
                                <i class="fa fa-tag Ts_price_tag"></i>
                                <span>$23,00</span>
                            </div>
                            <h3>Demo Product Titel</h3>
                            <h6>Merk van Product</h6>
                            <p>Korte product beschrijving komt hier te staan.</p>
                            <a class="Ts_add_to_cart_btn btn2" href="#">IN WINKELWAGEN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- /.row -->

    <hr>
    <!-- Call to Action Section -->
</div>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script type="text/javascript">

        //Load 3 products with Ajax/Jquery
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetProductsGrid", "Products")',
                type: 'GET',
                cache: false
            }).done(function (result) {
                $('#productsContainer').html(result);
            });
            });


            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

</script>