@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="Ts_header">
    <div class="Ts_dark_overlay">
         <div class="jumbotron">
            <h1>MCLittle</h1>
            <p class="lead">MCLittle is de voor de twaalfde keer op rij, als beste uitgeroepen op het gebied van Fruit!</p>
             <p><a href="/about" class="btn btn-primary btn-lg Ts_btn">Lees verder &raquo;</a></p>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="my-4">Weekelijkse aanbiedingen</h1>
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item Ts_aanbiedingen_card">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Product titel</a>
                    </h4>
                    <h6 class="card-title"><span class="Ts_old_price">$10</span><span class="Ts_new_price">$5</span></h6>
                    <p class="card-text">Product Short discription</p>
                </div>
                <a class="Ts_add_to_cart_btn" href="#">IN WINKELWAGEN</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item Ts_aanbiedingen_card">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Product titel</a>
                    </h4>
                    <h6 class="card-title"><span class="Ts_old_price">$10</span><span class="Ts_new_price">$5</span></h6>
                    <p class="card-text">Product Short discription</p>
                </div>
                <a class="Ts_add_to_cart_btn" href="#">IN WINKELWAGEN</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item Ts_aanbiedingen_card">
            <div class="card h-100 ">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Product titel</a>
                    </h4>
                    <h6 class="card-title"><span class="Ts_old_price">$10</span><span class="Ts_new_price">$5</span></h6>
                    <p class="card-text">Product Short discription</p>
                </div>
                <a class="Ts_add_to_cart_btn" href="#">IN WINKELWAGEN</a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Section -->
<div class="Ts_portfolio_item">
    <h2>Portfolio Heading</h2>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="Ts_product_main" style="background-image: url('../../Content/Images/cadeaumand-wereldreis-met-bier-verschillende-bieren-cadeautjes-nl_6161-70c99e91.jpg');">
                <div class="Ts_overlay">
                    <div class="Ts_price_main">
                        <i class="fa fa-tag"></i>
                        <span>$23,00</span>
                    </div>
                    <h3>Demo Product Titel</h3>
                    <h6>Merk van Product</h6>
                    <p>Korte product beschrijving komt hier te staan.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="Ts_product_main" style="background-image: url('../../Content/Images/cadeaumand-wereldreis-met-bier-verschillende-bieren-cadeautjes-nl_6161-70c99e91.jpg');">
                <div class="Ts_overlay">
                    <div class="Ts_price_main">
                        <i class="fa fa-tag"></i>
                        <span>$23,00</span>
                    </div>
                    <h3>Demo Product Titel</h3>
                    <h6>Merk van Product</h6>
                    <p>Korte product beschrijving komt hier te staan.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="Ts_product_main" style="background-image: url('../../Content/Images/cadeaumand-wereldreis-met-bier-verschillende-bieren-cadeautjes-nl_6161-70c99e91.jpg');">
                <div class="Ts_overlay">
                    <div class="Ts_price_main">
                        <i class="fa fa-tag"></i>
                        <span>$23,00</span>
                    </div>
                    <h3>Demo Product Titel</h3>
                    <h6>Merk van Product</h6>
                    <p>Korte product beschrijving komt hier te staan.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="Ts_product_main" style="background-image: url('../../Content/Images/cadeaumand-wereldreis-met-bier-verschillende-bieren-cadeautjes-nl_6161-70c99e91.jpg');">
                <div class="Ts_overlay">
                    <div class="Ts_price_main">
                        <i class="fa fa-tag"></i>
                        <span>$23,00</span>
                    </div>
                    <h3>Demo Product Titel</h3>
                    <h6>Merk van Product</h6>
                    <p>Korte product beschrijving komt hier te staan.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Modern Business Features</h2>
            <p>The Modern Business template by Start Bootstrap includes:</p>
            <ul>
                <li>
                    <strong>Bootstrap v4</strong>
                </li>
                <li>jQuery</li>
                <li>Font Awesome</li>
                <li>Working contact form with validation</li>
                <li>Unstyled page elements for easy customization</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
    </div>
</div>