.Ts_header {
    margin-top: -60px;
    text-align: center;
    background-image: url('Images/beef-cooking-delicious-769289.jpg');
    width: 140%;
    margin-left: -20%;
    color: #fff;
}

.Ts_dark_overlay {
    padding: 120px 10px;
    padding-top: 180px;
    background-color: rgba(0,0,0, 0.4);
}

.bg-dark {
    background-color: rgba(0,0,0, 0.9) !important;
    color: #fff;
}

.Ts_header .jumbotron {
    background-color: rgba(58,133,250, 0.3);
    width: 60%;
    margin: auto;
    padding: 45px 60px;
}

.Ts_btn {
    background-color: #FAAF3A;
    border: 2px solid #d59334;
    transition: 1s all;
}

    .Ts_btn:hover {
        background-color: #d59334;
        border: 2px solid #FAAF3A;
    }

.nav-link a {
    color: rgba(255, 255, 255, 1) !important;
}

    .nav-link a:hover {
        color: rgba(255, 255, 255, 0.75) !important;
        text-decoration: none;
    }

.Ts_aanbiedingen_card {
    margin-bottom: 30px;
}

    .Ts_aanbiedingen_card .card-body {
        padding: 2.25rem;
    }

.Ts_old_price, .Ts_new_price {
    color: #FAAF3A;
}

.Ts_old_price {
    text-decoration: line-through !important;
}

.Ts_new_price {
    font-size: 1.4rem;
    padding-left: 10px;
}

.Ts_add_to_cart_btn, .Ts_add_to_cart_btn_main a {
    background-color: #3a85fa;
    padding: 15px;
    width: 100%;
    border: 0px solid #fff;
    text-align: center;
    color: #fff;
    text-decoration:none;
}

.Ts_add_to_cart_btn:hover, .Ts_add_to_cart_btn_main a:hover {
   background-color: #3a65fa;
   text-decoration: none;
   color: #ffffff;
}
.Ts_product_main {
    background-size: cover;
    min-height: 200px;
    width: 100%;
}

.Ts_overlay {
    text-align: left;
    padding: 45px 30px;
    padding-top: 55px;
    background-color: rgba(0,0,0,0.8);
    min-height: 300px;
    height: 100%;
    width: 100%;
    color: #fff;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
    transition-delay: .5s;
}
.Ts_product_main:hover .Ts_overlay {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
}
.Ts_portfolio_item {
    margin-bottom: 60px;
    margin-top:30px;
}
.portfolio-item {
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.btn2 {
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 50%;
    width:50%
}
.btn3 a {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0%;
    width: 50% ;
    background-color:#FAAF3A;
}
.btn3 a:hover {
    background-color: #d59334;
}
.Ts_price_main {
    position: absolute;
    top: -16px;
    right: 0px;
}
    .Ts_price_main span {
        transform: rotate(-35deg);
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        top: 32px;
        right: 15px;
    }
.Ts_price_tag {
    font-size: 84px;
    transform: rotate(100deg);
    color: red;
}
.Ts_aanbiedingen_card .h-100 {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15) !important;
}
.Ts_aanbiedingen_card .h-100:hover {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35) !important;
}
.Ts_product_main h6 {
    font-weight: 650;
    color: #3a85fa;
}
.Ts_product_main h3:hover {
    color: #FAAF3A !important;
}
    .row.gray {
        background-color: #D3D3D3;
        width: 160%;
        margin-left: -30%;
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 40px;
        padding-bottom: 60px;
    }




/*Make Price tag swing*/
.Ts_product_main:hover .Ts_price_main {
    animation: swing linear 1.5s;
    animation-iteration-count: 2;
    transform-origin: 100% 0%;
    animation-fill-mode: forwards; /*when the spec is finished*/
    -webkit-animation: swing linear 2.5s;
    -webkit-animation-iteration-count: 2;
    -webkit-transform-origin: 100% 0%;
    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(6deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(6deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

